<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/process_book" method="POST">
        {% csrf_token %}
        <h1>Add a Book</h1>
        <p>
            Title:
            <input type="text" name="book_title">
        </p>
        <p>
            Description:<br/>
            <textarea name="book_description" id="" cols="30" rows="10"></textarea>
        </p>
        <button type="submit">Add</button>
    </form>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for book in all_books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.title }}</td>
                <td><a href="#">View</a> | <a href="books/{{ book.id }}/delete">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>